.glide {
  background: $lightGray;
  .glide__slide {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    white-space: normal;
    width: 568px;
    background: $white;
    padding: 75px 25px;
    opacity: 30%;
    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
    &.glide__slide--active {
      opacity: 100%;
    }
    .slide-block-image {
      background-size: cover;
    }
    .slide-block-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .slide-artist {
        color: $mainGreen;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }
  .glide__arrows {
    display: flex;
    margin: 75px 0 0 0;
    justify-content: center;
    gap: 100px;
    .glide__arrow {
      position: relative;
      top: auto;
      color: $mainBlue;
      padding: 0;
      border-radius: 50%;
      padding: 25px;
      background-color: $paleBlue;
    }
  }
}